/AbstractPrevalentSystem.class
/ByteCountStream.class
/ClockRecoveryCommand.class
/CommandInputStream.class
/CommandOutputStream.class
/NumberFileCreator.class
/NumberFileFinder$SnapshotFilter.class
/NumberFileFinder.class
/SnapshotPrevayler.class
/SystemClock.class
