
@charset "iso-8859-1";


body {
	font-family: Tahoma;    
	font-size: 11;    
	margin: 0px;
}

table {
	border-width: 0px;    
	font-family: Tahoma;    
	font-size: 11;    
	margin: 0px;    
}


